body{
	font-family: sans-serif;
}

.input {
	width: 90%;
	/*margin: 0 auto;*/
	padding: .35em;
	border-radius: .5em;
	margin-bottom: 1em;
}

.function {
	width: 40%;
	border: 1px solid darkblue;
	background-color: darkslateblue;
	padding: 1em;
	border-radius: 1em;
	margin: 2em;
	text-align: center;
}

.container-fluid {
	padding: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.answer {
	margin-top: 1em;
	margin-bottom: 1em;
	color: white;
}

.btn {
	width: 10em;
}